*,
*:before,
*:after {
  box-sizing: border-box;
  color: #2B2D42;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 15px;
  width: 210px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  color: #FFFFFF;
  border-color: unset;
  font-weight: bold;
  box-shadow: none;
  border: none;
}

li.results {
   list-style: none;
    display: inline-flex;
    flex-wrap: nowrap;
}
img {
    width: 250px;
}

section#list {
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.modal {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 9;
    align-items: center;
    background-color: #0000008c;
}